@charset "UTF-8";

@import url('https://fonts.googleapis.com/css2?family=Bebas+Neue&display=swap');


/*A regra @font-face no CSS é usada para definir fontes personalizadas para serem usadas em uma página da web. */
@font-face {
    font-family: 'Android';
    src: url('/fontes/idroid.otf');
    font-weight: normal;
}

/* Normalmente os desenvolvedores colocam as cores aqui, e vão copiando e colando no projeto. Ex:
#c5ebd6
#83e1ad
#3ddc84
#2fa866
#1a5c37
#063d1e
*/

/* Mas uma forma melhor é usando váriaveis globais:
O seletor :root em CSS representa o elemento raiz do documento HTML, que é o elemento <html>. Este seletor é frequentemente usado para definir variáveis globais em CSS, conhecidas como variáveis do CSS, que podem ser usadas em todo o documento.
Ao definir variáveis no :root, você cria variáveis globais que podem ser acessadas de qualquer lugar no seu CSS. Isso é útil para manter um conjunto consistente de valores em todo o seu estilo e facilita a manutenção.
*/

* {
    margin: 0px;
    padding: 0px;
    
}

:root {
    --cor0: #c5ebd6;
    --cor1: #83e1ad;
    --cor2: #3ddc84;
    --cor3: #2fa866;
    --cor4: #1a5c37;
    --cor5: #063d1e;
    --corLink: #3099c2;

    --fonte-padrao: Arial, Verdana, Helvetica, sans-serif;
    --fonte-destaque: 'Bebas Neue', sans-serif;
    --fonte-android: 'Android', 'cursive';

}

body {
    background-color: var(--cor0);
    font-family: var(--fonte-padrao);
    
}

header {
    background-color: var(--cor4);
    width: 100%;
    text-align: center;
    padding-bottom: 30px;
    background-image: linear-gradient(to bottom, #2fa86565,  #063d1e);
    
}

header > h1 {
    color: white;
    font-family: var(--fonte-destaque);
    font-size: 3em;
    font-weight: normal;
    padding-top: 20px;
    margin-bottom: 20px;
    text-shadow: 2px 2px 0px black;
    margin: auto;
}

header > p {
    color: white;
    font-family: var(--fonte-padrao);
    font-size: 1.2em; 
    padding-right: 10px;
    padding-left: 10px;
    margin: auto;
    text-shadow: 2px 2px 0px rgba(0, 0, 0, 0.322);   
}

nav {
    background-color: var(--cor5);
    box-shadow: 0px 7px 9px rgba(0, 0, 0, 0.151);
    text-align: center;
    padding: 10px;

}

nav > a {
    color: rgba(255, 255, 255, 0.575);
    text-decoration: none;
    font-size: 0.9em;
    margin: auto;
    padding: 0px;
    font-weight: bold;
}

nav > a:hover {
    background-color:var(--cor2);
    color: var(--cor5);
    border-radius: 5px;
    padding: 6px;
    transition: 0.4s;
}

main {
    background-color: white;
    min-width: 300px;
    max-width: 1000px;
    margin: auto;
    margin-bottom: 30px;
    padding: 20px;
    box-shadow: 0px 0px 10px rgba(0, 0, 0, 0.5);
    border-bottom-left-radius: 10px;
    border-bottom-right-radius: 10px;
}

main h1 {
    color: var(--cor5);
    font-family: var(--fonte-android);
    text-align: center;
}

main p {
    margin: 10px 0px;
    text-align: justify;
    text-indent: 30px;
    line-height: 1.4em;
    font-size: 1em;
}

main strong {
    color: var(--cor5);
    font-weight: bold;
}

main h2 {
    font-family: var(--fonte-android);
    color:var(--cor4);
    font-size: 1.3em;
    text-align: center;
    background-image: linear-gradient(to bottom, var(--cor3), transparent);

}

main img {
    display: block;
    margin: auto;
    width: 100%;
}

main img.pequena {
    max-width: 350px;
    display: block;
    margin: auto;
}

main a {
    font-weight: bold;
    color: var(--corLink);
}

main a:hover {
    color: blue;
    
}

div.video {
    margin: 0px -20px 30px -20px;
    padding: 15px;
    padding-bottom: 57%;
    position: relative;
}

div.video > iframe {
    position: absolute;
    top: 5%;
    left: 5%;
    width: 90%;
    height: 90%;
}

aside {
    background-color: var(--cor1);
    border-radius: 10px;
    padding: 10px;
    box-shadow: 3px 3px 8px rgba(0, 0, 0, 0.315);
}

aside > ul {
    list-style-type: '\2714\00A0\00A0';
    list-style-position: inside;
    columns: 2;

}

aside h3 {
    background-color: var(--cor4);
    color: white;
    font-size: 1em;
    margin: -10px -10px 0px -10px;
    border-radius: 10px 10px 0px 0px;
    padding: 6px;
}


footer {
    background-color: var(--cor5);
    color: white;
    text-align: center;
    font-size: 0.8em;
}

footer a {
    color: var(--corLink);
}

footer a:hover {
    color: blue;
    border-radius: 5px;
    padding: 6px;
    transition: 0.4s;
}

@media (max-width: 767px) {

    body {
        font-size: 1.5em;
        
    }

    header > h1 {
        font-size: 2em;
       
    }
    
    aside ul {
      display: flex;
      flex-direction: column; /* Altera a direção do flex container para coluna */
    }

    footer {
        font-size: 1em;
    }


  }